/*-----------------  GOOGLE FONTS  -----------------*/
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@font-face {
  font-family: 'Cyberpunk OG';
  src: url('./fonts/Cyberpunk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vinland';
  src: url('./fonts/Vinland.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Army font';
  src: url('./fonts/Capture\ it.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*-----------------  VARIABLES  -----------------*/
:root {
    /* Colors */ 
    --white_color : rgb(255, 255, 255);
    --gold_color: rgb(255, 230, 0);
    --green_color: rgb(45, 252, 26);
    --body_background: linear-gradient(to right, #141e30, #243b55);
    --spin_background: linear-gradient(to right, #fc4a1a, #f7b733);

    
}
/*-----------------  Base  -----------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
}
body {
  height: 100vh;
  background: url('./Images/backgrounds/default_bg.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto; 
    display: none;
}
/*-----------------  Styling Start  -----------------*/
h1 {
  position: absolute;
  font-size: 2.8rem;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.defaulHeader{
    color: var(--gold_color);
  outline: 5px solid  #030303;
  outline-offset: 0rem;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.5); 
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
    text-shadow: #000 3px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cyberFont{
    font-family: 'Cyberpunk OG', sans-serif;
    color: #F8EF02;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -5px;
    filter: drop-shadow(5px 0px 0px black);
}
.vinlandFont{
    font-family: 'vinland', sans-serif;
    font-size: 80px;
    color: black;
    letter-spacing: 10px;
    filter: drop-shadow(2px 0px 5px rgb(167, 162, 162));
}
.armyFont{
    font-family: 'Army font', sans-serif;
    font-size: 100px;
    font-weight: 100;
    color: rgb(22, 60, 22);
    filter: drop-shadow(1px 0px 2px rgb(167, 162, 162));
}
.container {
  width: 90%;
  max-width: 34.37rem; 
  margin-top: 3rem;
  max-height: 90vh;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3rem; 
  border-radius: 1rem;
}
#pieCanvas {
  position: absolute;
 transform: translate(0%, -50%);
  top: 50%;
 
  z-index: 100;
  pointer-events: none;
  z-index: 1;
  border: none;
}
#pieHolder{
    position: absolute;
    border: none;
     left: -100px;
}
.wheel_box {
  position: relative;
  width: 100%;
  height: 100%;
  
}
#spinImage {
    max-height: inherit;
    width: inherit;
    transform: rotate(270deg)scale(1.10);
  }
  
#spinWheel {
    
    height: 100%;
    margin-top: -100px;
    margin-left: -100px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 100%;
    margin: auto;
}
#spin_btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 8rem;
  width: 8rem;
  
  border-radius: 50%;
  cursor: pointer;
  border: 2px black solid;
  background: orange;
  color: var(--white_color);
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  z-index: 2;
}


.triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 55px solid #E74C3C;
    position: absolute;
    top: -12%;
    left: 43.7%;
    font-size: 4rem;
    scale: 0.5;
    
    
}
#text {
    position: absolute;
  font-size: 1.5rem;
  text-align: top;
  margin-top: 1.5rem;
  color: white;
  font-weight: 500;
  filter: drop-shadow(  2px  0px 1px black)drop-shadow(  -2px  0px 1px black)drop-shadow(  0px  2px 1px black)drop-shadow(  0px  -2px 1px black);
}
#draggableDiv {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 3px solid green;
    background-color: white;
}
.dradraggableDiv textarea:focus, input:focus, *:focus{
    outline: none;
}
#notes{
    border-style: none; 
    border-color: Transparent; 
    margin-bottom: -4px;
    margin-left: 5px;
}
#draggableDivheader:hover{
    cursor: grab;
}

.popup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    
    
    
    
    transition: opacity 0s ease-out, height 0s linear, scale 0.3s ease-in-out;
    opacity: 0;
    height: 100%;
    overflow: hidden;
    scale: 0;
}
.popup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    border-radius: 1rem;
    width: 30%;
    font-weight: bolder;
    background-size: 100% 100%;

}
.popupAdd{
    display: flex;
    background-color: rgb(0,0,0,0)!important;
    padding-top: 0px!important;
    margin-top: -10%!important;
    border: 0px!important;
    justify-content: center;
}
.popupAdd p{
    background-color: white;
    display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  border-radius: 6px;
  margin: 5px!important;
}
.popupAdd button{
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  padding: 0!important;
  margin: 5px!important;
}

.popupAdd button:hover,
.popupAdd button:active {
  background-color: white;
  background-position: 0 0;
  color: #FF4742;
}

.popupAdd button:active {
  opacity: .5;
}

.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
    opacity: 1;
    height: 100%;
    
    scale: 1;
    
    overflow: auto;
}
h2 {
    color: green;
}
#popupbackground{
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.4);
    z-index: 2;
    position: absolute;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
    display: none;
}

#wheelButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#wheelButton:hover {
    opacity: 1.0;
}

.wheelpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}
.wheelpopup-content {
    
    background-color: white;
    margin: 10% auto;
    padding: 20px;
   border: #000 3px solid;
    width: 30%;
    font-weight: bolder;
    display: grid;
    grid-template-areas: 
            "a a a " 
            "b c c" 
            "b c c"; 
            column-gap: 10px;
            row-gap: 10px;
    

}
.wheelpopup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}

#wheelChoosePain{
    display: none;
    position: relative;
    background: none;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#wheelChoosePain:hover{
    opacity: 1.0 !important;
}

#wheelChoosePain.disabledButton {
    
    opacity: 0.5 !important; 
    cursor: default !important;
    transition: 0s !important;
    
}

#wheelChooseEnemies{
    position: relative;
    background: none;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#wheelChooseEnemies:hover{
    opacity: 1.0 !important;
}
#wheelChooseEnemies.disabledButton {
    
    opacity: 0.5 !important; 
    cursor: default !important;
    transition: 0s !important;
    
}


#wheelChooseVergi{
    position: relative;
    background: none;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#wheelChooseVergi:hover{
    opacity: 1.0 !important;
}
#wheelChooseVergi.disabledButton {
    
    opacity: 0.5 !important; 
    cursor: default !important;
    transition: 0s !important;
    
}

#wheelChooseSitting{
    position: relative;
    background: none;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#wheelChooseSitting:hover{
    opacity: 1.0 !important;
}
#wheelChooseSitting.disabledButton {
    
    opacity: 0.5 !important; 
    cursor: default !important;
    transition: 0s !important;
    
}

#wheelChooseMemes{
    position: relative;
    background: none;
    border: none;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#wheelChooseMemes:hover{
    opacity: 1.0 !important;
}
#wheelChooseMemes.disabledButton {
    
    opacity: 0.5 !important; 
    cursor: default !important;
    transition: 0s !important;
    
}

#wheelChooseDefault{
    position: relative;
    background: none;
    border: none;
    opacity: 1.0;
    cursor: pointer;
    transition: all 0.2s ease;
}
#wheelChooseDefault:hover{
    opacity: 1.0 !important; 
}
#wheelChooseDefault.disabledButton {
    
    opacity: 0.5 !important; 
    cursor: default !important;
    transition: 0s !important;
    
}

#wheelNameIcon{
    color: white;
    text-shadow:
  1px 1px 0 #000,
  -1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;
}

#addDareButton{
    display: none;
    position: absolute;
    top: 10px;
    right: 115px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#addDareButton:hover{
    opacity: 1.0;
}

.adddarepopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
}
.adddarepopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    display: grid;
    grid-template: 
    "top1 top1" 
    "bottomleft bottomright" ;  
            column-gap: 10px;
            row-gap: 10px;
    

}
.adddarepopup-content button {
    display: block;
    margin: 0 auto;
    background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 15px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
 transition: all 0.2s ease;
}
.adddarepopup-content button:hover {
    background-color: #65b9e6;
}
.adddarepopup-content input[type=text]{
border: 3px solid #48abe0;
            border-radius: 3px;
            transition: 0.5s;
            outline: none;
            box-sizing: border-box;
            padding: 6px 3px;
}



.show {
    display: block;
}
#AddDareText{
    grid-area: top1;
}
#addDareSubmitOne{
    grid-area: bottomleft;
}
#addDareSubmitAll{
    grid-area: bottomright;
}

#shotButton {
    position: absolute;
    top: 140px;
    right: 20px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1;
}
#shotButton:hover {
    opacity: 1.0;
}

#shotClass{
    position: absolute;
    width: 280px;
    top: 100px;
    right: 100px;
    word-wrap: break-word;
    display: table;
    vertical-align: top;
    display: table-row;
}


#shotButton1{
    position: relative;
    background: none;
    border: none;
    padding: 0;
    width: 340px;
    opacity: 0;
    
    
   
}

#shotterName{
    color: white;
    text-shadow:
  1px 1px 0 #000,
  -1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;
  
}
#shotCount{
    color: white;
    text-shadow:
  1px 1px 0 #000,
  -1px 1px 0 #000,
  -1px -1px 0 #000,
  1px -1px 0 #000;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2rem;
  padding: 0;
  text-align: left;
}

.shotpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
}
.shotpopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    display: grid;
    grid-template: 
    "top1 top2 top3" 
    "b1 b2 b3" ;  
            column-gap: 10px;
            row-gap: 10px;
    

}
.shotpopup-content button {
    display: block;
    margin: 0 auto;
    background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 15px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
 transition: all 0.2s ease;
}
.shotpopup-content button:hover {
    background-color: #65b9e6;
}

.show {
    display: block;
}
#shotText{
    grid-area: top1;
    height: 20px;
}

.base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: rgba(255, 255, 255, 0.75);
    stroke: none;
    
    
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
    
    
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__path-remaining.orange {
    color: orange;
  }
  
  .base-timer__path-remaining.red {
    color: red;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  
#clockButton{
    position: absolute;
    top: 5px;
    right: 170px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#clockButton:hover{
    opacity: 1.0;
}

.clockpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
    
}
.clockpopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: 1fr 0.5fr 1fr 0.5fr 0.5fr;
grid-column-gap: 0px;
grid-row-gap: 3px;
padding-bottom: 30px;
}
[id='10mintext'] { grid-area: 1 / 1 / 2 / 8; place-self: center;}
[id='10min'] { grid-area: 2 / 1 / 3 / 2; }
[id='5min'] { grid-area: 2 / 2 / 3 / 3; }
[id='4min'] { grid-area: 2 / 3 / 3 / 4; }
[id='3min'] { grid-area: 2 / 4 / 3 / 5; }
[id='1min'] { grid-area: 2 / 5 / 3 / 6; }
[id='30sec'] { grid-area: 2 / 6 / 3 / 7; }
[id='5sec'] { grid-area: 2 / 7 / 3 / 8; }
[id='10sectext'] { grid-area: 3 / 1 / 4 / 8; place-self: center;}
[id="clockText"]{ grid-area: 4 / 3 / 5 / 4; place-self: right;}
[id='colon'] { grid-area: 4 / 4 / 5 / 5; place-self: center;}
[id="clockText2"] { grid-area: 4 / 5 / 5 / 6; }
[id="clockSubmitOne"] { grid-area: 5 / 4 / 6 / 5; }


.clockpopup-content button {
    display: block;
    margin: 0 auto;
    background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 15px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
 transition: all 0.2s ease;
}
.clockpopup-content button:hover {
    background-color: #65b9e6;
}

.show {
    display: block;
}
#app2{
    position: absolute;
    top: 30%;
    left: 10px;
    background: none;
    border: none;
    padding: 0;
    
}


.context-menu { 
    position: absolute; 
  } 
  .menu {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
  }
  .menu > button {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    
  }
  .menu > button:hover {
    background:#f1f3f7;
    color: #4b00ff;
  }
  .menu > button > i {
    padding-right: 10px;
  }
  .menu > button.trash:hover {
    color: red;
    
    }
    .menu > button.repeat:hover {
        color: rgb(3, 148, 39);
    }
    
.context-menu2 { 
    position: absolute; 
  } 
  .menu2 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
  }
  .menu2 > button {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    
  }
  .menu2 > button:hover {
    background:#f1f3f7;
    color: #4b00ff;
  }
  .menu2 > button > i {
    padding-right: 10px;
  }
  .menu2 > button.trash2:hover {
    color: red;
}

.context-menu3 { 
    position: absolute; 
  } 
  .menu3 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(64 64 64 / 5%);
    padding: 10px 0;
  }
  .menu3 > button {
    font: inherit;
    border: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: unset;
    color: #000;
    font-weight: 500;
    cursor: pointer;
   
  }
  .menu3 > button:hover {
    background:#f1f3f7;
    color: #4b00ff;
  }
  .menu3 > button > i {
    padding-right: 10px;
  }
  .menu3 > button.repeat:hover {
    color: green;
}

#settingsButton{
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#settingsButton:hover{
    opacity: 1.0;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
}

.settingspopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
    
}
.settingspopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    display: grid;
    row-gap: 5px;

}
.settingspopup-content button {
    display: block;
    margin: 0 ;
    background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 20px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
 transition: all 0.2s ease;
 justify-self: start;

}
.settingspopup-content button:hover {
    background-color: #65b9e6;
}
.show {
    display: block;
}

.historypopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
}
.historypopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 30px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    display: block;
}
.historypopup-content input {
        display: block;
        margin: 0 ;
        background-color: #48abe0;
      color: white;
      border: none;
      padding: 5px;
      font-size: 15px;
      box-shadow: 0 2px 4px darkslategray;
      cursor: pointer;
     transition: all 0.2s ease;
     justify-self: start;
     margin-bottom: 10px;
    
 }
 .historypopup-content input:hover {
    background-color: #65b9e6;
}

.historypopup-content li::marker {
    color: red;
}
.show {
    display: block;
}
.dareHistory{
background: none;
 display: block;
 float: none;
 padding: 6px 6px;
 margin: 0;
 border: 0;
 height: auto;
 color: #000000;
 line-height: normal;
}
.summer { 
    color: green;
  }
.winter{
    color: #2196F3;
}
.lava{
    color: red;
}

.hiddenpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
    
}
.hiddenpopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    display: grid;
    row-gap: 5px;

}
.show {
    display: block;
}

input[type=text] {
    border: 3px solid #48abe0;
    border-radius: 3px;
    transition: 0.5s;
    outline: none;
    box-sizing: border-box;
    
  }

input[type=text]:focus {
    border: 3px solid #0d7db9;
}



/* this is the editor css*/
.editorpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
    
    
}
.editorpopup-content {
    background-color: white;
    margin: 2% auto;
    padding: 5px;
    border: 1px solid #888888;
    width: 85%;
    font-weight: bolder;
    display: grid;
    row-gap: 5px;
    height: 90%;
    overflow: auto;
    padding-top: 1.5rem;
    

}
.editorpopup-content button {
    margin: 10px; 
    border-color: #957dad; 
    color: #888888; 
    margin-bottom: 25px; 
    cursor: pointer;
    

}
.editorpopup-content button:hover {
    background-color: #65b9e6 !important;
}

.show {
    display: block;
}




  
section { 
    padding: 5%; 
    padding-top: 0; 
    height: 100vh; 
} 
.side { 
    margin-left: 0; 
} 
#textarea1 { 
    padding: 1%; 
    border-color: #957dad; 
    border-width: thick; 
    height: auto;
    overflow: hidden;
    resize: none;
} 
#textarea2 { 
    padding: 1%; 
    border-color: #957dad; 
    border-width: thick; 
    height: auto;
    overflow: hidden;
    resize: none;
} 
#textarea3 { 
    padding: 1%; 
    border-color: #957dad; 
    border-width: thick; 
    height: auto;
    overflow: hidden;
    resize: none;
    margin-bottom: 3rem;
} 
.flex-box { 
    display: flex; 
    justify-content: center; 
} 

#editorButton{
    position: absolute;
    top: 8px;
    left: 50px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#editorButton:hover{
    opacity: 1.0;
}

#overlayWhite {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255); 
    z-index: 9999; /* Ensure the overlay is on top of other content */
    display: none; /* Initially hidden */
}

.slidecontainer {
    width: 100%;
    height: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .sliderLong {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    cursor: not-allowed; /* Cursor on hover */
  }
  
  /* Mouse-over effects */
  .sliderLong:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .sliderLong::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0d7db9; /* Green background */
    
  }
  
  .sliderLong::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #0d7db9; /* Green background */
    
  }

  .disabled {
    opacity: 0.6;
  }

#addDareHistory{
    position: absolute;
    top: 5px;
    left: 95px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#addDareHistory:hover{
    opacity: 1.0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #fff!important;; /* White background */
    border: 3px solid #48abe0!important;; /* Blue border */
    color: black!important;; /* Black text */
    padding: 6px 16px !important;
    font-size: 15px;
  box-shadow: none !important;
  border-radius: 3px;
  width: 9rem;
  height: 2.3rem;
  
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    overflow: visible;
    left: 50%; /* Center the dropdown menu horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    white-space: nowrap;
}

.dropdown-menu.show {
    display: block;
}


.dropdown2 {
    position: relative;
    
}
.dropdown2:hover .dropdown-menuR {display: block;}
.dropdown-menuR {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1;
    overflow: visible;
    right: 100%; /* Center the dropdown menu horizontally */
   /* Adjust for centering */
   top: 0px;
    white-space: nowrap;
    
    
}

.dropdown-menuR.show {
    display: block;
}

.dropdown-item {
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 100 !important;
    background-color: #fff;
}

.dropdown-item:hover {
    background-color: #7dbbdd;
    
}
.dropdown-item.selected {
    background-color: #7dbbdd !important; 
}

#coinButton{
    position: absolute;
    top: 10px;
    right: 220px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#coinButton:hover{
    opacity: 1.0;
}

.coinpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
}
.coinpopup-content {
    background-color: none;
    margin: 10% auto;
    padding: 20px;
    margin-top: 20%;
    width: 30%;
    font-weight: bolder;
    align-items: center;
    

}

.show {
    display: block;
}

#coin {
    position: relative;
    margin: 0 auto;
    width: 12rem;
    height: 12rem;
  }
  #coin div {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
       -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
            box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
  }
  .side-a {
    background: url('./Images/icons/coin_heads_icon.png');
    background-size: cover;
  }
  .side-b {
    background: url('./Images/icons/coin_tails_icon.png');
    background-size: cover;
  }
  
  
  #coin {
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
    z-index: 1;
    
  }
  #coin div {
    position: absolute;
    backface-visibility: hidden;
  }
  
  .side-b {
    transform: rotateY(-180deg);
  
  }
  
  
  @keyframes tailsToHeads {
    0% {transform: rotateY(-180deg); }
     50% {transform: rotateY(900deg)scale(2.0); }
    
    100% {transform: rotateY(1800deg)scale(1.0); }
  }
  @keyframes tailsToTails {
    0% {transform: rotateY(-180deg); }
    50% {transform: rotateY(900deg)scale(2.0); }
    
    100% {transform: rotateY(1980deg)scale(1.0); }
  }
  @keyframes headsToHeads {
    0% {transform: rotateY(0deg); }
     50% {transform: rotateY(900deg)scale(2.0); }
    
    100% {transform: rotateY(1800deg)scale(1.0); }
  }
  @keyframes headsToTails {
    0% {transform: rotateY(0deg); }
    50% {transform: rotateY(900deg)scale(2.0); }
    
    100% {transform: rotateY(1980deg)scale(1.0); }
  }

  .hiddenpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
    
}
.hiddenpopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 30%;
    font-weight: bolder;
    display: grid;
    row-gap: 5px;

}
.show {
    display: block;
}

.buttonGreen {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 15px 50px 50px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  
 
  outline: 0;
  overflow: hidden;
  padding: 2px 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  
  white-space: nowrap;
 
 
  border: 0;
}

.buttonGreen:hover {
  background: #00bd68;
}

.buttonBlue {
    background-color: initial;
    background-image: linear-gradient(-180deg, #0081d7, #1077ca);
    border-radius: 15px 50px 50px 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    
   
    outline: 0;
    overflow: hidden;
    padding: 2px 10px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    
    white-space: nowrap;
   
   
    border: 0;
  }
  
  .buttonBlue:hover {
    background: #0cb0da;
  }

.disabledButton {
    
    opacity: 0.5 !important; 
    cursor: default !important;
    transition: 0s !important;
    
}



#wheelPopupDis button{
    background: none;
    border: none;
    cursor: pointer;
}


.showPara{
    display: block !important;
}
.wheelOverlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 1.0;
}

.wheelOverlay img {
    
    width: 100%;
    height: 100%;
    object-fit: contain; /* Adjusts the image to cover the div, can also be 'contain' */
    
}


.centerCoin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

.H-circle {
    display: inline-block;
    background-color: #34ba03;
    color: #fff;
    border-radius: 50%;
    font-size: 22px;
    line-height: 30px; /* set to same size as width, height */
    width: 30px;
    height: 30px;
    text-align: center;
}
.T-circle {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    font-size: 22px;
    line-height: 30px; /* set to same size as width, height */
    width: 30px;
    height: 30px;
    text-align: center;
}

.flip-btn {
    background-color: #c0c0c0; /* Dark gray background */
    color: white; /* White text */
    border: none; /* Remove borders */
    padding: 10px 30px; /* Padding for the button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold; /* Bold text */
    font-family: Arial, sans-serif; /* Font family */
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: transform 0.2s; /* Smooth transition for flip effect */
}

.flip-btn:hover {
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.ytpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
}
.ytpopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    border-radius: 1rem;
    width: 30%;
    font-weight: bolder;
    background-size: 100% 100%;
    

}
.show {
    display: block;
}

#ytbutton {
    position: absolute;
    top: 5px;
    left: 140px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
    
}
#ytbutton:hover {
    opacity: 1.0;
}
.textAreaColumn{
    position: relative;
    width:80%;    
    margin: 0!important;
    padding: 0!important;
    
}

.textAreaColumn div{
    float:left;
    box-sizing: border-box;
    margin: 0!important;
    padding: 0!important;
}

.textAreaColumn div button{
    float:left;
    width: 20px;
    height: 100%;
    margin: 0!important;
    padding: 0!important;
    border-width: thin;
    box-sizing: border-box;
}


.textAreaColumn div span{
    display:block;
}
.textAreaColumn div textarea{
    float: left;
    box-sizing: border-box;
    width:100%;
    border-color: #957dad; 
    border-width: thin!important; 
    overflow: hidden;
    resize: none;
    padding-top: 0%!important;
    background: transparent!important;
    padding-bottom: 0%;
    
}

.textAreaColumn textarea{
    float: left;
    box-sizing: border-box;
    width:2%;
    border-color: #957dad; 
    border-width: thin; 
    overflow: hidden;
    resize: none;
    height: 100%;
    line-height: 20px;
    background: transparent!important;
    
    
}
.wrapperB{
    display: flex;
    flex-direction: column;
    height: calc(100% - 1px);
    padding-top: 0% !important;
    margin-top: 0% !important;
    padding-bottom: 0%!important;
    margin-bottom: 0% !important;
}
.wrapperB button{
    margin: 0 !important;
    padding: 0 !important; 
    display: flex; /* For centering content */
    align-items: center; /* Vertically center the content */
    justify-content: center; 
    color: #000;
}

.minus button{
    background-color: lightblue;
}
.plus button{
    background-color: lightgreen;
}

    


.textAreaColumn::before {
    content: '';
    position:absolute;
    
    left: 0px; /* Adjust this based on your padding */
    right: 0px; /* Adjust this based on your padding */
    height: 100%;
    width:calc(40px + 82%);
    background: repeating-linear-gradient(
        transparent,
        transparent 19px, /* Gap before the line */
        #000000 19px, /* Line color */
        #000000 20px /* Line thickness */
    );
    pointer-events: none;
}
.wrapperB.minus button.zero::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 20px; /* Adjust as needed */
    height: 20px;
    width: calc(20px + 82%);
    background-color: rgba(255, 0, 0, 0.412);
    pointer-events: none;
  }

.highlight {
    position: relative;
    padding: 0 10px;
  }

.float-image{
    position: relative;
   
}
.hover-text {
    position: absolute;    /* Position it over the image */
    top: 50%;
    left: 50%;
    transform: translate(15%, -100%); /* Center the text */
    background-color: rgba(0, 0, 0, 0.5);  /* A semi-transparent background */
    color: white;          /* Text color */
    padding: 10px;
    border-radius: 5px;
    display: none;         /* Hide the text by default */
    width: 200px;
  }

  /* Show the text on hover */
  .float-image:hover .hover-text {
    display: block;
  }

  .flash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation: flash 3s forwards;
    z-index: 10;
}

@keyframes flash {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

.fade-image {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 15;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: flash 3s forwards;
    display: none;
    width: 30vw;
}

.msgpopup {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    
}
.msgpopup-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888888;
    
    width: 30%;
    font-weight: bolder;
    background-size: 100% 100%;
    text-align: center;
}
.msgpopup-content textarea{
    padding: 1%; 
    border-color: #65b9e6; 
    border-width: thick; 
    height: auto;
    overflow: hidden;
    resize: none;
    width: 80%;
    
}
.show {
    display: block;
}
.msgpopup-content button {
    display: block;
    margin: 0 auto;
    background-color: #48abe0;
  color: white;
  border: none;
  padding: 5px;
  font-size: 15px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
 transition: all 0.2s ease;
}
.msgpopup-content button:hover {
    background-color: #65b9e6;
}



.debug {
	position: fixed; top: 4px; left: 50%; transform: translateX(-50%); padding: 4px; background: white;border: 1px solid black; font-family: monospace; font-size: 1.6rem;
}


.slots {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	width: calc(1.1*3.5 * 158px);
	height: calc(3.5 * 158px);
	display: none;
	justify-content: space-between;
	padding: calc(0.3 * 158px);
	background: linear-gradient(45deg, rgb(123, 123, 123) 0%, lightgray 100%);
	border-top: 1px solid rgba(255, 255, 255, 0.532);
	border-right: 1px solid rgba(255, 255, 255, 0.47);
	border-left: 1px solid rgba(0, 0, 0, 0.441);
	border-bottom: 1px solid rgba(0, 0, 0, 0.478);
	box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.444);
	border-radius: 3px;
    z-index: 100;
    
}
	
	
	@keyframes win1 {
		from { background: linear-gradient(45deg, orange 0%, yellow 100%); 
		box-shadow: 0 0 80px orange }
		to { background: linear-gradient(45deg, grey 0%, lightgrey 100%); box-shadow: -2px 2px 3px black; }
	}
	
	@keyframes win2 {
		0% { background: linear-gradient(45deg, lightblue 0%, lightgreen 100%); 
		box-shadow: 0 0 80px lightgreen }
		100% { background: linear-gradient(45deg, grey 0%, lightgrey 100%); box-shadow: -2px 2px 3px rgba(black, 0.3); }
	}
	
	.slots.win1 {
		animation: win1 200ms steps(2, end) infinite;
	}
	
	.slots.win2 {
		animation: win2 200ms steps(2, end) infinite;
	}

	.reel {
		position: relative;
		width: 158px;
		height: calc(3 * 158px);
		border: 1px solid rgba(0, 0, 0, 0.395);
		border-radius: 3px;
		overflow: hidden;
		background-image: url(./Images/icons/reel_icon2.png);
		background-position: 0 0;
		background-repeat: repeat-y;
		
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: linear-gradient(rgba(0, 0, 0, 0.408) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.408) 100%);
			box-shadow: inset 0 0 6px 2px rgba(black, 0.3);
		}

	}
	

#shotRandom :hover {
    filter: drop-shadow(0 0 0.2rem blue)
}

.containerRad {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default radio button */
  .containerRad input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    justify-self: center;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerRad:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerRad input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerRad input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerRad .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  #slotsButton{
    position: absolute;
    top: 10px;
    right: 280px;
    background: none;
    border: none;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s ease;
}
#slotsButton:hover{
    opacity: 1.0;
}

#lever {
    position: relative;
    top: 45%;
    left: 5px;
    z-index: -10;
    cursor: pointer;
}
#lever:hover{
    filter: drop-shadow(0 0 4px rgb(255, 217, 0))drop-shadow(0 0 4px rgb(255, 217, 0))drop-shadow(0 0 4px rgb(255, 217, 0));
}

.bottom {
    background: #551c37;
    width: 40px;
    height: 70px;
    position: absolute;
    right: -30px;
    border-radius: 10px;
}


.screw {
    background: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.screw::before {
    content: "";
    background: #111;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
} 

.top {
    background: #333;
    width: 70px;
    height: 15px;
    position: absolute;
    right: -88px;
    top: 27px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left top;
   transform: rotate(-50deg);
}

.pull {
    animation: rotate50 1s  forwards;
}

.ball {
    content: "";
    display: block;
    background: #ca1717;
    width: 50px;
    height: 50px;
    position: absolute;
    right: -40px;
    top: -20px;
    border-radius: 50%;
}


@keyframes rotate50 {
  from {
    transform: rotate(-50deg);
  }
  to {
    transform: rotate(50deg);
  }
}


@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}
.containerh1Text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: neon;
  color: #f32e2e;
  font-size: 75px;
  line-height: 75px;
  text-shadow: 0 0 70px #F40A35;
}

.flux {
  font-family: neon;
  color: #426DFB;
  font-size: 75px;
  line-height: 75px;
  text-shadow: 0 0 70px #2356FF;
}

.neon {
  text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
}


.flux {
  text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
}

#confession{
    justify-self: center;
    text-align: center;
    background: white;
    width: fit-content;
    padding: 10px;
    padding-bottom: 20px;
    outline: #a7e5a7 20px solid;
    border-radius: 20px;
}

.rotating-text-container {
    position: relative;
    overflow: hidden;
    height: 2.5em;  /* height of one line */
    width: fit-content;    /* enough width */
    
    justify-self: center;
    
     text-align: center;
     background: rgb(255, 255, 255);
     border: none;
   
    
    
  }

  .rotating-text {
    display: flex;
    flex-direction: column;
    animation: scrollUp 3s linear infinite;
    animation-iteration-count: 1;
    border: none;
  }

  .rotating-text span {
    height: 2.5em;
    line-height: 2.5em;
    white-space: nowrap;
  }

  
  /* Fade overlay */
  .rotating-text-container::before,
  .rotating-text-container::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0.8em; /* fade height */
    pointer-events: none;
    z-index: 2;
  }

  .rotating-text-container::before {
    top: 0;
    background: linear-gradient(to bottom, #ffffff, transparent);
    
  }
 

  .rotating-text-container::after {
    bottom: 0;
    background: linear-gradient(to top, #ffffff, transparent);
  }

  @keyframes scrollUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }

#confessionButton{
    background: none;
    width: 50px;
    height: 50px;
    border: #00BD68 4px solid;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #00bd6817;
  }
  #confessionButton i{
    transform: scale(2);
  }